# node_modules/
mongo_backups/
backend/logs/
backend/influxdbmanager/Pres31_DB1.csv
backend/influxdbmanager/Pres31_DB2.csv
influxdb/ui/node_modules/
influxdb/go1.13.9.linux-amd64.tar.gz
influxdb/ui/.env