.MuiPaper-root {
    background-color: $g5-pepper !important;
    color: $g13-mist !important;
    font-family: $cf-code-font !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

.MuiTableHead-root {
    background-color: $g5-pepper !important;
    color: $g13-mist !important;
    font-family: $cf-code-font !important;
    font-weight: 500 !important;
    font-size: 12px/* 1.19em */ !important;
}

.MuiTableRow-head {
    background-color: $g5-pepper !important;
    color: $g13-mist !important;
    font-family: $cf-code-font !important;
    font-weight: 500 !important;
    font-size: 12px/* 1.19em */ !important;
}

.MuiTab-textColorPrimary{
    color: $g13-mist !important;
    font-family: $cf-code-font;
    font-weight: 500 !important;
    font-size: 12px/* 1.19em */ !important;
}

.MuiTypography-root {
    font-family: $cf-code-font !important;
    font-weight: 500 !important;
    font-size: 12px/* 1.19em */ !important;
}

.MuiInputBase-root {
    color: $g13-mist !important;
}