#summaryTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#summaryTable td, #summaryTable th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

/* #summaryTable tr:nth-child(odd){background-color: #f2f2f2;} */

#summaryTable tr:hover {
    background-color: #fff;
    color: #000;
}

#summaryTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    color: white;
}



#shortcutCard {
    padding-left: 15px;
    padding-right: 15px;
}

#shortcutCard div:hover {
    background-color: #ffbd39 !important;
    color: #000 !important;
}
