#failureTable td{
    padding: 8px;
    border-left: 2px solid #31313d;
    border-right: 2px solid #31313d
}

#failureTable tr{
    /* color: #fff; */
    border-bottom: 2px solid #434453;
}

#failureTable .not-first:hover{
    color: #000 !important;
    cursor: pointer;
    background-color: #fff !important;
}

#failureTable td:first-child{
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-left: 2px solid #31313d;
    border-right: 2px solid #31313d
}

.common-button-width {
    width: 125px
}

.react-multi-email > input {
    background-color: #282828 !important;
    color: #fff !important;
    width: auto !important;
    outline: none !important;
    border: 0 none !important;
    display: inline-block !important;
    line-height: 1;
    vertical-align: baseline !important;
    padding: 0.4em 0.1em !important;
}